body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;

}
/* ------- START OF 1ST SECTION CSS --------*/
.intro_container {
    background-color: #1F2937;
    margin: 0px;
    height: 450px;
    display: flex;
    flex-direction: column;    
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    align-items: center;
    height: 70px;
}
.logo {
    width: 50px;
   
    margin-top: 20px;
}

.links a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 16px;
    
}
.intro_content {
    display: flex;
    flex : 1;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.intro_content .Description {
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    align-items: flex-start;
    gap : 16px;
    flex-wrap: wrap;
    max-width: 30%;
}
.Description .Welcome_message {
font-size: 48px;
font-weight: 800;
color: #F9FAF8;
font-family:Arial, Helvetica, sans-serif
}
.Description .brief_descr {
font-size: 18px;
color: #E5E7EB;
font-family:Arial, Helvetica, sans-serif
}
.Description button {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 6px 14px;
      font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
      border-radius: 6px;
      border: none;
    
      color: #fff;
      background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
       background-origin: border-box;
      box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }


.intro_content .image {
flex : 0 1 auto;
margin-right : 165px;
align-self: center;
max-height: 202px;
min-width: 400px;

}

/* ------- END OF 1ST SECTION CSS --------*/

/* ------- START OF 2ND SECTION CSS --------*/

.pictures_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    flex-wrap: wrap;
}

.info {
    font-size: 36px;
    font-weight: 800;
    color : #1F2937;
}
 ul {
    display: flex;
    justify-content: space-around;
    gap : 16px;
    flex-wrap: wrap;
    margin : 0 0px
}
li {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    flex-wrap: wrap;
    margin : 0 ;
    gap : 15px;
}
li img {
    border: solid;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border-color: #6c6eebfd;
    border-width: 5px;
    
}
 li p {
color: rgb(71, 71, 71);
font-weight: 501;
}

/* ------- END OF 2ND SECTION CSS --------*/

/* ------- START OF 3D SECTION CSS --------*/

.quote_container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin : 60px 0;
    justify-content: center;
    align-items: center;
    gap : 20px;
    flex : 1 1 auto;
}
.text {
    display: flex;
    flex-direction: column;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.mouleha {
    align-self: flex-end;
    font-weight: 600;
    font-size: 30px;
   
}
/* ------- END OF 3D SECTION CSS --------*/

/* ------- START OF 4TH SECTION CSS --------*/

.signup_container {
background-color: #4446d4;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
width:  800px;
height: 110px;
align-self: center;
border-radius: 20px;
gap: 36px;
margin-bottom: 50px;
padding : 16px;
padding : 0 40px;
}
.signup_container .text .title{
    font-weight: 600;
    padding-bottom: 10px;
}
.signup_container button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border: solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 7px;
}

.footer {
    flex : 1 1 auto;
    display: flex;
    justify-content: center;
    color : white;
    background-color: rgb(1, 2, 3);
    
    }